@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply antialiased scroll-smooth transition-all font-poppins overflow-x-hidden;
}

html,
body {
  background-color: #202225;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-t to-slate-500 from-slate-700 rounded-full
}